resources
work
.nextflow*
target
.idea
.vscode
.DS_Store
output
trace-*
_viash.yaml
.nextflow.*
CHANGELOG.md
LICENSE
src/common
scr/task/api
scr/task/control_methods
scr/task/metrics
scr/process_dataset
scr/workflows
